body {
    text-align: center;
}

#round, #results, #scores {
    grid-column-start: 1;
    grid-column-end: 3;
}

#gameLog {
    display:grid;
    grid-template-columns: auto auto;
    visibility: hidden;
}

#gameover {
    visibility: hidden;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:grey;
}